<%= form_for(@order, :url => update_cart_path, :html=>{:id=>'update-cart'}) do |order_form| %>
  <%= hook :inside_cart_form do %>

    <%= hook :cart_items do %>
      <%= render :partial => 'form', :locals => {:order_form => order_form} %>
      <div id="applying_coupon">

           <h3><%= t(:apply_coupon)     %></h3>
            <label><%= t(:coupon_code) %></label>
            <%= order_form.text_field :coupon_code, :size => 19 %>
            <span class="ajax_loader"><%= image_tag 'ajax_loader.gif', :alt => t('loading') %></span>
            <%= order_form.submit t("apply") %>
        </div>
    <% end %>

    <div id="subtotal">
      <%= hook :advanced_cart_subtotal do %>
        <h3><%= "#{t("subtotal")}: #{number_to_currency @order.item_total}" %></h3>

					<% @order.adjustments.each do |adjustment| %>
						<h4><%= "#{adjustment.label}: #{number_to_currency adjustment.amount}" %></h4>
		      <% end %>

          <h3><%= "#{t("total")}: #{number_to_currency @order.total}" %></h3>

      <% end %>
    </div>
        <div class="right-links">
          <%= link_to "Update cart", '#', :class => 'button update primary', :id => "update-cart", :onclick => "$('form#update-cart').submit(); return false;" %>

              <%= link_to "Continue to checkout", checkout_path, :class => 'button checkout primary' %>

            <div class="quote-links">
              <h4>or</h4>
              <%= link_to "Email me this basket as a quote", new_quote_path, :class => 'button quote primary', :id => 'quote-link' %>
            </div>


        </div>


      <div class="left-links">
        <%= link_to 'Continue shopping', products_path, :class => 'button continue primary' %>

      </div>
    </div>

  <% end %>
<% end %>
